# Code owners are requested for review automatically on every PR.
# https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repo.
*       @pascalinthecloud
